<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="left-half-page">
        <div class="catch">
          <ul>
            <li><span class="fa fa-check-circle"></span>自分の本棚をカスタマイズしよう</li>
            <li><span class="fa fa-check-circle"></span>友達が読んでいる本をのぞいてみよう</li>
            <li><span class="fa fa-check-circle"></span>本棚をシェアしよう</li>
          </ul>
        </div>
      </div>
      <div class="right-half-page">
        <div class="login-form">
          <input type="email" name="email" class="form" placeholder="メールアドレス"><input type="password" name="pass" class="form" placeholder="パスワード"><button class="login-form-btn">ログイン</button>
          <!--<a href="#">パスワードを忘れた場合はこちら</a>-->
        </div>
        <div class="catch2">
          <span　class="fa fa-book"></span>
          <h3 class="item">いろいろな本をのぞいてみよう</h3>
          <div class="login-regist-btn">
            <li>ウチ本を始めよう</li>
            <button class="make-account-btn btn">アカウント作成</button>
            <button class="login-btn btn">ログイン</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>

  </footer>
  
  <script type="text/javascript"  src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="../client/src/main.js"></script>
</body>
</html>
